<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../hobbyhob1/style.css">
    <title>hobbyboard1</title>
    <title>board1</title>
</head>
<body>
<div class="card">
  <div class="card-header">
    <h1>게시판</h1>
  </div>
  <div class="card-body">
    <input type="search" palceholder="검색어를 입력하세요.">
    <a class="search" href="#">검색</a>
    <div class="content-box">
      <div class="check"><input type="checkbox" name="" id=""></div>
      <div class="title"><a href="view.html">하비합의 게시판입니다.</a></div>
      <div class="delete"><button>X</button></div>
    </div>
    <div class="content-list">
      <div class="check"><input type="checkbox" name ="" id=""></div>
      <div class="title"><a href="view.html"></a>하비합 게시판에 제목을 입력합니다.</div>
      <div class="delete"><button>X</button></div>
    </div>
    <div class="content-box">
      <div class="check"><input type="checkbox" name="" id=""></div>
      <div class="title"><a href="view.html">제목을 입력해주세요~~</a></div>
      <div class="delete"><button>X</button></div>
    </div>
    <div class="content-box">
      <div class="check"><input type="checkbox" name="" id=""></div>
      <div class="title"><a href="view.html"></a></div>
      <div class="delete"><button>X</button></div>
    </div>
    <ul class="number">
      <li><a href="#">&lt;</a></li>
      <li><a href="#" class="active">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">&gt;</a></li>
    </ul>
  </div>
  <div class="btn">
    <a href="write.html">글쓰기</a>
  </div>
</div>
</body>
</html>