<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../hobbyhob1/style.css">
    <title>hobbyboard3</title>
    <title>Title</title>
</head>
<body>
<div class="card">
  <div class="card-header">
    <h1>게시판입니다</h1>
  </div>
  <div class="card-body">
    <div class="top">
      <div class="num">번호</div>
      <div class="title">제목</div>
      <div class="name">작성자</div>
      <div class="date">작성일</div>
      <div class="count">조회</div>
    </div>
    <div>
      <div class="num">4</div>
      <div class="title">안녕하십니까~~~</div>
      <div class="name">팀장님</div>
      <div class="date">01.15</div>
      <div class="count">455</div>
    </div>
    <div>
      <div class="num">5</div>
      <div class="title">여기에 글의 제목이 들어갑니다<div class=""></div></div>
      <div class="name">펩시송</div>
      <div class="date">01.15</div>
      <div class="count">223</div>
    </div>
    <div>
      <div class="num">6</div>
      <div class="title">글의 제목이 들어갑니다2<div class=""></div></div>
      <div class="name">펩시송1</div>
      <div class="date">01.15</div>
      <div class="count">223</div>
    </div>
    <ul class="number">
      <li><a href="#">&lt;</a></li>
      <li><a href="#" class="active">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">&gt;</a></li>
    </ul>
  </div>
  <div class="btn">
    <a href="">글쓰기</a>
  </div>
</div>
</body>
</body>
</html>