<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title></title>
    <title>Title</title>
</head>
<body>
<div class="card">
    <div class="card-header1">
        <h1><a href="">게시판</a></h1>
    </div>

    <div class="card-write">
        <div class="my info">
        </div>
        <div class="title-w">
            제목<input type="text" placeholder="제목을 입력하세요.">
        </div>
        <div class="msg">
            내용<textarea placeholder="내용을 입력하세요"></textarea>
            <input type="file" name="" id="">
        </div>
    </div>
    <div class="btn-w"><a href="#">작성</a>
    </div>
</body>
</html>
-->